.stopwatch-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: sans-serif;
}

.stopwatch-header {
  font-size: 4.5rem;
  font-weight: 100;
}

.stopwatch-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
}

.stopwatch-buttons button {
  background-color: white;
  color: black;
  border: none;
  border-radius: 10px;
  font-size: 1.3rem;
  font-weight: 500;
  width: 120px;
  height: 50px;
}

.stopwatch-container button:hover {
background-color: rgba(0, 0, 0, 0.1);
}

.lap-list {
  font-family: Calibri;
  padding-left: 0;
  width: 90%;
  margin: 20px auto;
  border-top: 1px solid #dddddd;
}

.lap-list li {
  padding: 15px;
  border-bottom: 1px solid #dddddd;
  font-size: 1.3rem;
  font-weight: 500;
  display: flex;
  align-items: center;
}

.lap-list li span {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 1.5rem;
  font-weight: 300;
  margin-right: 10px;
}